html{
    background:rgb(20,20,60);
}

/* nav{
    background:red;
} */

/* #intro-layout {
    display: grid;
    place-items: center;   
    min-height: 60dvh;   
} */
  
#intro {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    text-align: center;
    /* background: lightblue; */
    /* border-radius: 1rem; */
    padding: 8rem;
}
  
#profile-image img {
    display: block;
    background: blue;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 5rem;
}
  
#message {
    font-family: sans-serif;
    font-size: 3vw;
    color: white;
    margin: 0;
}
  
  